.loginStyle{
    display: flex; 
    position: 'absolute';    
    top: 20%; 
    right: 30%; 
    border: "solid";
    height: 20%;
    color: "#7fc980"; 
}

.loginEmailStyle{
    top: 70px;
    right: 7.5%;
    position: "relative";
}


.passwordStyle{
    top: 120px;
    right: 40%;
    position: "relative";
}
